.ScrollText {
  background-color: $secondary-color;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 60%;
}

.crawl {
  color: white;
  font-family: $body-font;
  font-size: 17px;
}

.movie-title,
.date {
  color: $tertiary-color;
  font-family: $heading-font;
  font-size: 20px;
}