html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.header {
  color: white;
}

.title {
  color: $primary-color;
  font-family: $heading-font;
  font-size: 60px;
  text-align: center;
  text-shadow: 1px 0px white;
}