.Card {
  border: 1px solid black;
}

.name {
  color: black;
  font-family: $heading-font;
}

.data {
  font-family: $body-font;
}

.subdata {
  font-family: $body-font;
}

.fas {
  color: pink;
}

.far {
  color: pink;
}