$primary-color: #D9ADDB;
$secondary-color: rgba(200, 163, 206, 0.5);
$tertiary-color: #DBDEFC;
$card-background: rgba(219, 241, 255, 0.8);
$card-top: rgba(247, 195, 238, 0.8);

$heading-font: 'Baloo Thambi';
$body-font: 'Ubuntu Condensed';

